{
	"debug" : false,
	"discordToken": "your-discord-api-token",
	"webPassword": "password-for-web-gui",
	"customToken": "token-for-your-custom-api-endpoints",
	"loadingEndpoint": "https://your.site/loadEvents", 
	"syncEndpoint": "https://your.site/syncEvent", 
	"deletingEndpoint": "https://your.site/deleteEvent"
}